// Наші переваги та вміння

.benefit {
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;

  &__items {
    display: flex;
    margin-left: -30px;
  }

  &__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }

  .sprite--icon {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: getColor('team');
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  &__description {
    line-height: 1.71;
  }
}
