// Навігація по сайту */

.navigation {
  display: flex;
  align-items: center;
}

//* лого */
.logo {
  @extend .logo;
}

//* лого в шапці */
.logo--black {
  color: #000000;
}

/* Головна сторінка */

/* Студія, Потфоліо, Контакти */
.navigation__choiсe {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: getColor("title-text-color");
  position: relative;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current:after {
  /* transform: translateY(32px); */
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: getColor("accent-color");
}

/* при наведенні */
.navigation__link:hover,
.navigation__link:focus,
.navigation__mail:hover,
.navigation__mail:focus,
.navigation__tel:hover,
.navigation__tel:focus {
  color: getColor("accent-color");
  fill: getColor("accent-color");
}

.navigation__contacts {
  display: flex;
  margin-left: auto;
}

.navigation__mail,
.navigation__tel {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: getColor("paragraph-color");
  align-items: center;
  justify-content: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__mail--icon,
.navigation__tel--icon {
  fill: currentColor;
  margin-right: 10px;
  background-size: auto;
}
